.container{
    padding: 10px;
}
.card{
    display: flex;
    gap: 15px;
    padding: 20px;
    margin-bottom: 20px;
}
.thumbnail{
    position: relative;
}
.thumbnail img{
    width: 100px;
    height: 100px;
    object-fit: cover;
}
.p{
    flex-direction: column
}